---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "solarized";

// @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,600|Roboto:300,400,700|Source+Code+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Roboto+Slab:400,700|Roboto:400,700);

$header-font-family: "Roboto Slab", serif;
$base-font-family:   "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-font-family:   "Fira Mono", monospace;

// Also good one!
// @import url(https://fonts.googleapis.com/css?family=Bitter|Raleway);
// $header-font-family: "Bitter";
// $base-font-family:   "Raleway";

$base-font-size:   110%;
$small-font-size:  .8em;
$code-font-size:   .9em;

$base-font-weight:   400;
$accent-body-weight: 700;

$base-line-height: 1.5;


$text-color:       $base02;
$background-color: #fdfdfd; //$base3;
$brand-color:      $blue;

$grey-color:       $base0;
$grey-color-light: $base1;
$grey-color-dark:  $base01;

// Width of the content area
$spacing-unit:     30px;
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-solarized-light"
        // "syntax-highlighting"
;
