<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <a class="page-link {% if page.index %}active{% endif %}" href="/">Blog</a>
        {% assign pages = site.pages | sort:"order"  %}
        {% for menu_page in pages %}
          {% if menu_page.title %}
          <a class="page-link {% if page.url == menu_page.url %}active{% endif %}"
             href="{{ menu_page.url | prepend: site.baseurl }}">{{ menu_page.title }}</a>
          {% endif %}
        {% endfor %}
    </nav>

  </div>

</header>
