/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight $base-font-size $base-font-family;
  color: $text-color;
  background-color: $background-color;
}

b, strong {
  font-weight: $accent-body-weight;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 1.5em;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;

  font-weight: $base-font-weight;
  font-family: $header-font-family;
  a { text-decoration: none; }
}

/**
 * Text
 */



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: underline;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  code {
    color: $brand-color;
    font-weight: bold;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $text-color;
  border-left: 5px solid $complementary-color;
  margin: 1em 0 $spacing-unit / 2 1em;
  padding-left: $spacing-unit / 2;
  padding-bottom: .1em;
  font-size: 1.3em;
  font-style: italic;
  letter-spacing: .2px;
  line-height: 1.3em;
  font-weight: 300;

  > :last-child {
      margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  margin: 2rem 0;
  font-family: $code-font-family;
  font-weight: normal;
  line-height: normal;
  border: 1px dashed $complementary-color;
  border-radius: .2rem;
  background-color: $background-color;
  color: $text-color;
}

code.highlighter-rouge {
  white-space: nowrap;
  background-color: $background-color;
}

code {
  font-size: $code-font-size;
  padding: 1px 5px;
}

pre {
  @extend %vertical-rhythm;
  padding: .5rem .8rem;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }

  &.lineno, td.code pre {
    border: 0;
    padding: 0;
    margin: 0;
  }
  &.lineno {
    margin-right: 5px;
  }
}




/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
        fill: gray;
    }
  }
}
