.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

header.site-header {
  position: absolute;
  z-index: 100;
}

#disqus_thread {
  padding-right: 16.6%;
}

.post-social {
  padding-right: 16.6%;
  margin: 3em 0;
  // text-align: center;

  div {
    display: inline-block;
    margin: 0 .5rem;
  }

  .twitter {
    position: relative;
    top: 5px;
  }
}