/**
 * Site header
 */
.site-header {
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;

  a {
    font-family: $header-font-family;
    font-weight: bold;
    text-decoration: none;
  }

  img {
    width: 30px;
    height: 30px;
    position: relative;
    top: -4px;
  }
}

.site-nav {
  font-size: 1.8em;
  margin-top: .5em;

  .page-link {
    display: inline-block;
    color: $text-color;
    // line-height: $base-line-height;
    line-height: .65em;
    padding-bottom: .1em;

    &.active {
      color: black;
      background-color: $theme-yellow;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
        margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
      // on mobile devices
  }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 1rem 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        h2 { padding-top: 0; }
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    padding-left: .5em;
    margin: 0;
    font-size: $small-font-size;
}

.post-link {
    // display: block;
    font-size: 1.1em;
}



/**
 * Posts
 */
.post-header {
    position: relative;
    margin-bottom: $spacing-unit;

    .post-image {
      position: absolute;
      top: 0; bottom: 0;
      width: 100%; height: 100%;

      background: #000;
      border-radius: 15px;
      img {
        border-radius: 15px;
        width: 100%; height: 100%;

        object-fit: cover;
        object-position: center;
        opacity: 0.5;
      }
    }

    &.with-image {
      min-height: 20em;

      .post-caption {
        position: absolute;
        bottom: .8em;
        left: 1em;
      }

      h1 {
        // background-color: $complementary-color;
        color: $background-color;
      }

      .post-meta {
        font-weight: bold;
        color: $background-color;
        opacity: .75;
      }
    }
}

.post-category {
  font-weight: normal;
  font-size: 1.3em;
  margin-bottom: 0;
}

.post-title {
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.4em;
  padding: 0;
  margin: 0;

  @include media-query($on-laptop) {
      font-size: 36px;
  }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        background-color: $complementary-color;
        font-size: 2.5em;
        display: inline-block;
        padding-bottom: .1em;
        line-height: .4em;
        color: #1D2224;

        // @include media-query($on-laptop) {
        //     font-size: 28px;
        // }
    }

    h3 {
        font-size: 1.8em;
        font-weight: bold;

        // @include media-query($on-laptop) {
        //     font-size: 22px;
        // }
    }

    h4 {
        font-size: 1.2em;

        // @include media-query($on-laptop) {
        //     font-size: 18px;
        // }
    }

    img {
      display: block;
      margin: 0 auto;
    }
}

.post-social {
  margin: 3em 0;
  text-align: center;

  div {
    display: inline-block;
    margin: 0 .2em;
  }

  .twitter {
    position: relative;
    top: 7px;
  }
}

#post-nav {

  padding-bottom: 5em;

  a {
    font-weight: bold;
    text-decoration: none;
  }
  a.prev { float: left; }
  a.next { float: right; }
}
