/**
 * Syntax highlighting styles
 */

$comment:  #E8E9E8;
$constant: #0DAB76;
$keyword:  #067BC2;
$function: #C55337;
$string: $constant;
$number: $constant;
$symbol: $constant;

.highlight {
    // background: #fff;
    @extend %vertical-rhythm;

    .highlighter-rouge & {
      // background: #eef;
    }

    .c     { color: $comment; font-style: italic } // Comment
    .err   { color: #a61717 } // Error
    .k     { color: $function; font-weight: 500 } // Keyword
    .o     { color: $function; font-weight: 500 } // Operator
    .cm    { color: #998; font-style: italic } // Comment.Multiline
    .cp    { color: #999; font-weight: bold } // Comment.Preproc
    .c1    { color: #998; font-style: italic } // Comment.Single
    .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .nb    { color: $function; font-weight: 500 } // Name.Builtin
    .nf    { color: $function; font-weight: 500 } // Name.Function
    .m     { color: $number } // Literal.Number
    .s     { color: $string } // Literal.String
    .no    { color: $keyword; } // Name.Constant
    .na    { color: $symbol } // Name.Attribute
    .kt    { color: $symbol; font-weight: bold } // Keyword.Type
    .nc    { color: $symbol; font-weight: bold } // Name.Class
    .ni    { color: $symbol } // Name.Entity
    .ne    { color: $symbol; font-weight: bold } // Name.Exception
    .nn    { color: $symbol } // Name.Namespace
    .nt    { color: $symbol } // Name.Tag
    .nv    { color: $symbol } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: $number } // Literal.Number.Float
    .mh    { color: $number } // Literal.Number.Hex
    .mi    { color: $number } // Literal.Number.Integer
    .mo    { color: $number } // Literal.Number.Oct
    .sb    { color: $string } // Literal.String.Backtick
    .sc    { color: $string } // Literal.String.Char
    .sd    { color: $string } // Literal.String.Doc
    .s2    { color: $string } // Literal.String.Double
    .se    { color: $string } // Literal.String.Escape
    .sh    { color: $string } // Literal.String.Heredoc
    .si    { color: $string } // Literal.String.Interpol
    .sx    { color: $string } // Literal.String.Other
    .sr    { color: $string } // Literal.String.Regex
    .s1    { color: $string } // Literal.String.Single
    .ss    { color: $string } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: #2A7B96 } // Literal.Number.Integer.Long
}
